
@font-face{
    font-family: Poppins-Regular;
    src: url('../../fonts/poppins/Poppins-Regular.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color:#F5F5F5;
    font-family: Poppins-Regular;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 0px 0px 40px 0px;
    margin-top: 0;
    border-radius:10px ;
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
    background: #ffffff;
    overflow: hidden;

}

.flexbox-container  .inputfield .form-contrall{
    width: 100%;
    border: 1px solid #d5dbd9;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;

}
/**********************two button same div******************************/
.flexbox-container  .inputfield .btn2-contrall{
    font-family:Poppins-Regular ;
    border: 1px solid #37A0F6;
    width: 100%;
    /*border: none;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    justify-items: center;
    justify-content: center;




}

/**********************three button same div******************************/


/*******************************************/
.btn3-flex{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;

    background-color: #E8F0FE;
    padding: 10px;
    border-radius:  5px 5px;
}
.btn3-flex >div{

    width: 30%;
    height: 30px;


}

.btn3{

    background-color: #37A0F6;
    font-size: 18px;
    height: 30px;
    border: none;
    width: 90%;
    background: linear-gradient(to right, #37A0F6 , #2680EB);
    text-align: center;
    color: #fff;
    border-radius:  5px 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);

}




/********************** no change text box value ******************************/
.flexbox-container  .inputfield .form-contrall-readonly{
    width: 100%;
    border: 1px solid #d5dbd9;
    background-color: #E8F0FE;
    padding: 5px;
    border-radius: 5px;
    cursor: default;
}


.flexbox-container  .inputfield .imgebox-contrall{
    font-family:Poppins-Regular ;
    border: 1px solid #37A0F6;
    padding: 5px;
    margin-top: 10px;

}
.flexbox-container  .inputfield .imgebox-contrall label{
    font-family:Poppins-Regular ;
    border: 1px solid #37A0F6;
    padding: 5px;
    margin-top: 10px;

}


.inputfield{
    width: 90%;
    margin-bottom: 15px;
    margin-top: 10px;
}

.inputfield label{
    margin-bottom: 5px;
    margin-top: 5px;
    opacity: 0.8;
    font-family:Poppins-Regular ;



}
.form-header{
    margin-top: 30px;
    width: 90%;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
}
.form-header h3{
    text-align: center;
    background-color: #030303;
    color: #ffffff;
    padding: 10px;

}

.inputfield .btn{
    background-color: #37A0F6;
    font-size: 18px;
    border: none;

    height: 30px;
    width: 100%;

    background: linear-gradient(to right, #37A0F6 , #2680EB);
    text-align: center;
    color: #fff;
    border-radius:  5px 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);

}


.flexbox-container  .inputfield .form-contrall:focus {
    border-color:#37A0F6;
    background-color: #F5F5F5;
}

*:focus {
    outline: none;

}
/*************************/



.Button .box{
    display: none !important;
}

#dropdown{
    display: none !important;
}


/****************************Create ripple effec******************************************/

.cripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.cripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
.cripple:hover {
    opacity: .7;
    transition: 1s;
}

.cripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}
/***************last cancel and submit buttton***************************/


.flexbox-container  .LastBtnWap{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;




}

.submitButton {
    width: 100px;
    height: 36px;
    margin-left: 10px;
    border: 1px solid #00B4CC;
    background: linear-gradient(to right, #37A0F6 , #2680eb);
    text-align: center;
    color: #fff;
    border-radius:  5px 5px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.cancelButton {
    width: 100px;
    height: 36px;
    margin-left: 10px;
    border: 1px solid #00B4CC;
    background: #708090;
    text-align: center;
    color: #fff;
    border-radius:  5px 5px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}
/**************************************************/
/*.input2 {*/
/*    margin-left: 20%;*/
/*    width: 43% !important;*/
/*}*/
.inputbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.inputbutton .txtOIField{
    font-family:Poppins-Regular ;
    font-size: 14px;
    width:80%;
    margin-right: 5%;
    height:32.22px ;
    padding: 5px;
    background-color: #E8F0FE;
    border: 1px solid #d5dbd9;
    border-radius: 5px;

}

.inputbutton .txtOIField :focus{
    border-color:#37A0F6;
    background-color: #F5F5F5;
}
.inputbutton .txtWBtn{
    /*margin-top: 4px;*/
    height: 32.22px;

    background-color: #37A0F6;
    font-size: inherit;

    width: 15%;
    border: none;
    border-radius: 5px;

    background: linear-gradient(to right, #37A0F6 , #2680EB);
    /*padding: 10px;*/
    text-align: center;
    justify-content: center;
    justify-items: center;
    color: #fff;

    cursor: pointer;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.75);

}

.input2 {
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    width: 43% !important;
}
.inputbutton .btn{
    justify-content: center;
    align-items: center;
    background-color: #37A0F6;
    font-size: 18px;
    border: none;

    height: 32.22px;
    width: 100%;

    background: linear-gradient(to right, #37A0F6 , #2680EB);
    text-align: center;
    color: #fff;
    border-radius:  5px 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);

}




/***********************************/

.inputbutton .txtCBtn{

    height: 32.22px;


    font-size: inherit;
    margin-right: 0px;
    width: 15%;
    border: none;
    border-radius: 5px;


    background-repeat:no-repeat;
    /*padding: 10px;*/
    text-align: right;
    justify-content: right;
    justify-items: right;
    /*color: #fff;*/
    opacity: 0.5;
    cursor: pointer;


}

/****************************/
.inputbutton .btn{

    background-color: #37A0F6;
    font-size: 18px;
    border: none;

    height: 30px;
    width: 100%;

    background: linear-gradient(to right, #37A0F6 , #2680EB);
    text-align: center;
    color: #fff;
    border-radius:  5px 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);

}


.error{
    margin-top: 0;
    padding-top: 1px;
    color: red;
    font-size: 10px;
}