@font-face {
    font-family: Poppins-Regular;
    src: url('../../fonts/poppins/Poppins-Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins-Regular;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f8;
    justify-content: center;
}


/************************************navigation********/

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    height: 8vh;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    color: #030303;
    display: block;
    padding: 50px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-weight: bold;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 2px 20px;
    text-decoration: none;
}

.header img {
    width: 150px;
    height: 6vh;
}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}


/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 10px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}


/***************************************************************************************************************************/

.grid-container {
    margin-top: 10vh;
    display: grid;
    position: relative;
    grid-gap: 1vw;
    grid-template-columns: 275px auto 250px;
    margin-right: 5px;
}

.sidebar-flex-box-container {

    z-index: 0;

}

.navigation-container {
    position: fixed;
    width: 275px;
    margin-left: 10px;
}

.navigation-collapse-trigger {
    bottom: 0;
    position: absolute;
    right: -10px;
    top: 0;
    width: 20px;
}

.navigation-collapse-trigger__orb {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #408bff;
    z-index: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    left: 50%;
    -webkit-transform: translate(calc(-50% + 2px), 100px) scale(0);
    transform: translate(calc(-50% + 2px), 100px) scale(0);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.navigation-collapse-trigger__orb:hover {
    cursor: pointer;
}

.navigation-collapse-trigger__orb>svg {
    stroke: #ffffff;
    width: 80%;
    height: auto;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

[class$="--collapsed"] .navigation-collapse-trigger__orb>svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.navigation-collapse-trigger:hover .navigation-collapse-trigger__orb {
    -webkit-transform: translate(calc(-50% + 2px), 100px) scale(1);
    transform: translate(calc(-50% + 2px), 100px) scale(1);
}

.navigation-collapse-trigger:hover~.navigation::before {
    opacity: 1;
}

.navigation {
    background-color: #030303;
    color: #ffffff;
    height: 88vh;
    padding: 16px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 10px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation::before {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(64, 139, 255, 0)), color-stop(5%, #408bff), color-stop(95%, #408bff), to(rgba(64, 139, 255, 0)));
    background: linear-gradient(180deg, rgba(64, 139, 255, 0) 0%, #408bff 5%, #408bff 95%, rgba(64, 139, 255, 0) 100%);
    bottom: 0;
    pointer-events: none;
    position: absolute;
    right: -3px;
    top: 0;
    width: 2px;
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.navigation .logout {
    margin-top: auto;
}

.navigation-logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 8px;
    margin-bottom: 30px;
}

.navigation-logo__icon {
    min-width: 32px;
}

.navigation-logo svg {
    margin-right: 8px;
}

.navigation-link {
    display: block;
    color: #9e9fa4;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 8px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    white-space: nowrap;
}

.navigation-link__icon {
    min-width: 32px;
}

.navigation-link__name {
    margin-left: 12px;
}

[class$="--collapsed"] .navigation-link__name {
    padding: 0.5em;
    line-height: 1;
    border-radius: 3px;
    color: #6b6b6b;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    pointer-events: none;
    position: absolute;
    left: 48px;
}

[class$="--collapsed"] .navigation-link__name::before {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 7px solid #ffffff;
    border-bottom: 5px solid transparent;
    left: -7px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navigation-link:hover {
    background-color: #313239;
    color: #ffffff;
}

[class$="--collapsed"] .navigation-link:hover .navigation-link__name {
    position: absolute;
    opacity: 1 !important;
    font-size: 0.875rem;
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    background: #ffffff;
    left: 60px;
}

[class$="--collapsed"] .navigation-link:hover .navigation-link__name::before {
    content: "";
}


/***********************************************************/


/******************************************/

.middle {
    /* border: 2px solid blue; */
    top: 8vh;
    margin-left: 10px;

    grid-column-start: 2;
    justify-items: center;


}
.middle-card{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 15px;

}

/****************************************************************************************************************/




/*********************************************************************************************************************/



/********************************small flex*************************************************************/

/*******************search button***************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.flex-row{
    margin: 20px;
    display: flex;

    justify-content:flex-end;

}

.updbtn{

    flex:2;
}
.wrapbtn{

    flex:5;
}



.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #2680EB;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #2680EB;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.searchTerm:focus{
    color: #2680EB;
    border-color:#2680EB;
    font-weight: bold;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: linear-gradient(to right, #37A0F6 , #2680EB);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

/*Resize the wrap to see the search bar change!*/
.auButton {
    width: 120px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: linear-gradient(to right, #37A0F6 , #2680EB);
    text-align: center;
    color: #fff;
    border-radius:  5px 5px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}
.searchButton:focus{
    outline:0;
}
.auButton:focus{
    outline:0;
}

/***************************************************************/
.last{
    /*  border: 1px solid blue; */


}

/*.last-box-container {*/
/*    position: relative;*/
/*    margin-top: 0px;*/
/*    padding-bottom: 25px;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fit,200px);*/
/*    grid-gap: 1vw;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.last-box {*/
/*    height: 180px;*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    border-radius: 10px;*/
/*    box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.75);*/
/*    transition: 0.3s;*/

/*    align-content: center;*/
/*    background: white;*/
/*}*/

/*.last-box {*/
/*    display: flex;*/
/*    flex-direction: column ;*/
/*}*/

/*.image-l{*/
/*    background-color: #030303;*/
/*    color: white;*/
/*    border-radius: 35px;*/
/*    margin: auto;*/
/*    padding: 5px;*/
/*    flex-direction: row;*/
/*}*/
/*.content-r {*/
/*    margin: auto;*/
/*    flex-direction: row;*/
/*}*/
/*.content-r .cr1{*/
/*    font-size: 1.5rem;*/
/*    display: block;*/
/*}*/

/*.content-r .cr2{*/
/*    font-size: 0.7rem;*/
/*    display: block;*/
/*}*/

/*.last-box-container .last-box:hover {*/
/*    background-color: #030303;*/
/*    color: white;*/
/*    box-shadow: 1px 1px 5px 6px rgba(0,0,0,0.75);*/
/*}*/
/*.last-box:hover .image-l{*/
/*    background-color: white;*/
/*    color:  #030303;*/
/*    border-radius: 35px;*/
/*    margin: auto;*/
/*    padding: 5px;*/
/*}*/

.last-box-container {
    background-color: #0989ab;
    position: relative;
    margin: 0;
    padding: 0;
    /*padding-bottom: 25px;*/
    /*margin-right: 5px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.last-box {
    width: 100%;
    height: 300px;
    margin : 0;
    text-align: center;
    padding: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.75);
    transition: 0.3s;

    align-content: center;
    background: white;
}

.last-box {
    display: flex;
    flex-direction: column ;
}

.image-l{
    background-color: #030303;
    color: white;
    border-radius: 35px;
    margin: auto;
    padding: 5px;
    flex-direction: row;
}
.content-r {
    margin: auto;
    flex-direction: row;
}
.content-r .cr1{
    font-size: 1.5rem;
    display: block;
}

.content-r .cr2{
    font-size: 0.7rem;
    display: block;
}

.last-box-container .last-box:hover {
    background-color: #030303;
    color: white;
    box-shadow: 1px 1px 5px 6px rgba(0,0,0,0.75);
}
.last-box:hover .image-l{
    background-color: white;
    color:  #030303;
    border-radius: 35px;
    margin: auto;
    padding: 5px;
}

