html {
  font-family: poppins;
  font-size: 15px;
  line-height: 1.4;
  color: #090a0c;
}

body {
  margin: 0;
  background: #edf1f7;
  font-size: 15px;
}

.wrapper {
  margin: 5px auto;
  max-width: 1000px;
  border:5px solid #4289fb;
  
}

.container-calendar {
  background: #edf1f7;
  padding: 0px;
  max-width: 1000px;
  height:460px;
  margin: 0 auto;
  overflow: auto;
}

#monthAndYear{
width: 600px;
  height: 25px;
  background-color: #4289fb;
  color:#edf1f7;
  display: flex;
  padding-left:400px;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: space-between;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #4289fb;
  color: #edf1f7;
  width:50px;
  height:30px;
  border: 1px solid #090a0c;
  border-radius: 4px;
  padding: 0px 5px;
}

.table-calendar {
  border-collapse: collapse;
  width: 1000px;
}

.table-calendar td, .table-calendar th {
  padding: 5px;
  border: 2px solid lightgrey;
  width:60px;
  text-align: center;
  vertical-align: top;
  height:35px;
}

.date-picker.selected {
  font-weight: bold;
 background-color:#4289fb;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
  padding:5px;
}


#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  clear: both;
  
}

#previous {
  float: left;
  
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 10px;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #edf1f7;
  color: #090a0c;
  border: 2px solid #4289fb;
  border-radius: 3px;
  padding: 5px 10px;
}

body{
  font-family:poppins;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main main'
      'menu footer footer footer footer footer';
    grid-gap: 5px;
    background-color:#edf1f7;
    padding: 5px;
    text-align:center;
    border:10px solid  #4289fb;
  }
  
  .grid-container > div {
    background-color:#edf1f7;
    text-align: center;
    padding: 10px 0;
    
  }
  
  .item1 {
   grid-area: header;
   height:50px;
   }
  .item2 { 
  grid-area: menu;
  
   }
  .item3 { grid-area: main;
  height:150px;
   }
  
  .item4 { 
  grid-area: footer;
  
   }
  
   .column {
      float: left;
      size:100px;
      padding: 0px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  
    h1{
  padding-left:250px;
  }
    
    .vertical-menu {
    width: 200px;
    border:2px solid lightgrey;
    box-shadow:3px 3px lightgrey;
    
  }
  
  .vertical-menu a {
  font-size:15px;
  text-align:left;
    background-color: #edf1f7;
    color: black;
    display: block;
    padding: 5px;
    font-family:poppins;
    text-decoration: none;
    box-shadow:3px 3px lightgrey;
  
  }
  
  .vertical-menu a:hover {
    background-color:#4289fb;
    color:#fff;
    border:2px solid lightgrey;
    box-shadow:3px 3px lightgrey;
  }
  
  .vertical-menu a.active {
    background-color:  #4289fb;
    color:#edf1f7;
    border:2px solid lightgrey;
    
  }
  
  #rcorners {
    border-radius: 25px;
    background:#edf1f7;
    border:5px solid  #4289fb;
    width: 170px;
    height: 140px;
    box-shadow:5px 5px 0.1px 0.1px lightgrey;    
  }
  
  p{
      font-size:15px;
      font-family: poppins;
  }
  
  