
.modal-contents {
    height: 70vh !important;
}

.table-responsive {
    width: 100%;
    background-color: #f8f9fe !important;
}

.table-responsive .first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-responsive .second-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-container{
    font-family: Poppins-Regular, serif !important;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: black;
    width: 50%;
    margin: 15px;
    height: 180px;
    padding: 0;
    /*padding: 25px 0 25px 0;*/
    background-color: #FFFFFF;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: .375rem;
    background-clip: border-box;
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
    transition: 0.3s;
    overflow: hidden;
    position: relative;
}

.product{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.product-preview{
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(87deg,#171717 0,#F7FAFC 100%)!important;
    padding: 5px;
}

.product-info{
    height: 180px!important;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-top{
    width: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #FFFFFF !important;
    padding: 15px 10px;
    position: relative;
}
.product-top h6{
    position: relative;
    color: #8898aa;
    text-transform: uppercase;
    font-size: 0.65rem;
}


.product-bottom{
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #FFFFFF !important;
}

.product-bottom .slctbtn{
    padding: 5px;
    font-size: .875rem;
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: none;
    will-change: transform;
    text-align: center;
    cursor: pointer;
    border-radius: .25rem;
    color: #fff;
    border: 1px solid #2dce89;
    background-color: #2dce89;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
    line-height: 1.5;
}