
.tabrow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #2dce89;
    color: white;
    align-items: center;
    outline: none;
    cursor: pointer;
    padding: 17px 12px;
    margin-bottom: 0;
    font-size: 15px;
    -webkit-transition: all 0.2s ease-out;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    border: 0 solid transparent;
    border-radius: .375rem;
    background-clip: border-box;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: 0.3s;

}

.date-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: white;
    color: white;
    align-items: center;
    outline: none;
    cursor: pointer;
    padding: 17px 12px;
    margin-bottom: 0;
    font-size: 15px;
    -webkit-transition: all 0.2s ease-out;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    border: 0 solid transparent;
    border-radius: .375rem;
    background-clip: border-box;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: 0.3s;

}
